html, body {
    height: 100%;
    width: 100%;
}

*{
  list-style-type: none;
}

.container .md-button {
  padding: 10-px;
  margin: 0px;
  min-width: 88px;
  border-radius: 30px;
  font-size: 25px;
  text-align: center;
  text-transform: none;
  text-decoration:none;
  border: none;
  outline: none;
}


.clickPointer {
    cursor: pointer;
}

#wrapper { /* main container */
/*    border: 2px solid black;*/
    overflow: hidden;
    width: 95%;
    margin: auto;
}

#catalog-bank { /* container for models coming from school's site */
/*    border: 2px solid blue;*/
    width: 50%;
    float:left;
}

#course-info {
/*    border: 2px solid yellow;*/
    padding: 10px;
}

#course-bank {
/*    border: 2px solid red;*/
}

#schedule-bank { /* container for user-defined models */
    margin-top: 3.3%;
    width : 50%;
    float: right;
}

.module {
    border: 2px solid gray;
    width: 100%;
    margin: 5px 0;
}
.module ul {
    padding: 10px;
}

.course {
    display: inline-block;
    margin: 2px;
    padding: 2px 5px;
    border: 1px solid gray;
    background-color: #ddd;
}
#course.selected {
    background-color: lightgray;
}

.list-group-item{
  display: inline-block;
}

.module-units {
    float: right;
}




