@{ 
    ViewBag.Title = "Index";
}

<div class="container">
    <h1>Index View</h1>
    <p>This is the main page that users see (whether logged-in or not)</p>

    @if (User.Identity.IsAuthenticated)
    {
        <button onclick="location.href='@Url.Action("Home","App")'" class="btn btn-sm btn-success">Go to Home</button>
    }
    else
    {
        <button onclick="location.href='@Url.Action("Login","Auth")'" class="btn btn-sm btn-success">Log in</button>
        <button onclick="location.href='@Url.Action("Register","Auth")'" class="btn btn-sm btn-success">Register</button>
    }
</div>